<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417888194466-fe5ohio5bjh914ubb908ah0gii0ncb0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417888194466-fe5ohio5bjh914ubb908ah0gii0ncb0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>417888194466-75iccvv41t047fs24ll3eb6ejsgr3e0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAChJ-ahCFanZGxFNZvjG8iFARsnck94AA</string>
	<key>GCM_SENDER_ID</key>
	<string>417888194466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.az.AzLogin</string>
	<key>PROJECT_ID</key>
	<string>azegitim-6d5fd</string>
	<key>STORAGE_BUCKET</key>
	<string>azegitim-6d5fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417888194466:ios:dd1de75fb43b92fe64ecfb</string>
</dict>
</plist>